@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
* {
  box-sizing: border-box;
  font-family: "Ovo", serif;
  outline: none;
}

.tituloSecciones {
  color: #FBF9F9;
  font-family: "Ibarra Real Nova", serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px #AD8776;
}

header {
  height: 150px;
}
header .header {
  height: 100%;
  background-image: url(../multimedia/portadaPrincipal.jpg);
  background-size: cover;
  background-position: center;
}
header .header div {
  width: 10%;
}
header .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
header .header .logo img {
  height: 95%;
  width: 13.5%;
}
header .header .iconoCarrito {
  display: flex;
  align-items: end;
  justify-content: right;
  padding-right: 20px;
  padding-bottom: 20px;
}
header .header .iconoCarrito .imgCarrito {
  width: 30px;
  height: 40px;
}
header .header .iconoCarrito .circuloCarrito {
  background-color: #FBD6C5;
  border: #FBF9F9 1px solid;
}

h1 {
  padding: 10px;
  text-align: center;
  font-family: "Ibarra Real Nova", serif;
}

#contProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contProductos .card {
  height: 570px;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Ovo", serif;
}
#contProductos .card .imgTorta {
  margin-top: 10px;
  height: 50%;
  width: 90%;
}
#contProductos .card .card-title {
  /* font-family: $letraTitulo; */
  font-size: 25px;
}
#contProductos .card .card-text-descripcion {
  text-align: justify;
}
#contProductos .card .btnAgregarCarrito {
  background-color: #65ADA6;
  color: white;
}
#contProductos .card .infoCard {
  height: 75%;
}
#contProductos .card .precioAgregar p {
  margin-bottom: 3px;
}

.contPersonalizadas .tituloPpersonalizadas {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../multimedia/portadaInspiraciones.jpg);
  background-size: cover;
}
.contPersonalizadas .personalizadas {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 15px;
}
.contPersonalizadas .personalizadas h3 {
  font-family: "Ibarra Real Nova", serif;
  width: 50%;
}
.contPersonalizadas .personalizadas .seleccion {
  text-align: right;
  width: 50%;
}
.contPersonalizadas .personalizadas .seleccion #selectInspiracion {
  border: #65ADA6 2px solid;
}
.contPersonalizadas .personalizadas .seleccion button {
  border: #65ADA6 1px solid;
  background-color: #FBF9F9;
  color: #65ADA6;
}

#contInspiraciones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
#contInspiraciones .inspImg {
  margin: 15px;
  width: 20%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFEAE0;
}
#contInspiraciones .inspImg img {
  width: 80%;
  height: 95%;
}
#contInspiraciones .inspImg img:hover {
  transform: scale(1.3);
  transition: 1s;
  box-shadow: 2px 2px 2px 2px #65ADA6;
}

.tituloCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url(../multimedia/portadaCarrito.jpg);
  background-position: center;
}

.contPCarrito {
  background-color: #FBF9F9;
  text-align: center;
}
.contPCarrito .btnBorrar {
  background-color: #FBD6C5;
}
.contPCarrito .btnConfirmar {
  background-color: #65ADA6;
  color: #FBF9F9;
}

.tablaCarrito th {
  width: 14.28%;
}
.tablaCarrito td {
  width: 14.28%;
}

footer .informacion {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
footer .informacion div {
  text-align: center;
  width: 33%;
}
footer .informacion div h4 {
  font-size: 26px;
}
footer .informacion div p {
  font-size: 18px;
}
footer .copy {
  background-color: #FFEAE0;
  display: flex;
}
footer .copy p {
  width: 50%;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
footer .copy .creado {
  text-align: right;
}/*# sourceMappingURL=estilos.css.map */